[Unit]
Description=kbots File Integrity Monitoring (every 12 hours)

[Timer]
OnBootSec=15min
OnCalendar=*-*-* 00,12:30:00
Persistent=true

[Install]
WantedBy=timers.target
